{% extends 'contacts/dblayout.html' %}

{% block title %}Contacts{% endblock %}

{% block body %}
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>email</th>
					<th>phone number</th>
					<th>Job title and company</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Nathaniel Adiah</td>
					<td>nathanieladiah@gmail.com</td>
					<td>+1 (868) 472-3716</td>
					<td>None</td>
				</tr>
				{% for contact in contacts %}
					<tr>
						<td>{{contact.name}}</td>
						<td>{{contact.email}}</td>
						<td>{{contact.phone_number}}</td>
						<td>{{contact.job_title}} - {{contact.company}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}