{% extends 'contacts/dblayout.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block body %}

	<div class="wrapper">
		<div class="headings">
			<!-- month/year -->
			<div class="date">
				September 2021
			</div>
			<div class="today-date"></div>
			<!-- today button -->
			<div class="buttons">
				<div class="current-month">Today</div>
				<!-- prev/next buttons -->
				<div class="prev">&lt;</div> 
				<div class="next">&gt;</div>
			</div>
		</div>
		<div class="weekdays">
			<div>Sun</div>
			<div>Mon</div>
			<div>Tue</div>
			<div>Wed</div>
			<div>Thu</div>
			<div>Fri</div>
			<div>Sat</div>
		</div>
		<div class="days">
		</div>
	</div>
	<script src="{% static 'contacts/calendar.js' %}"></script>
	
{% endblock %}