{% extends 'contacts/layout.html' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<!-- <div class="container-fluid">
	<div class="row cover">
		<div class="col-6 words">

		</div>
		<div class="col-6 pic">

		</div>
	</div>
</div> -->
<div class="container col-xxl-8 px-4 py-5">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-10 col-sm-8 col-lg-6">
			<img src="https://i.imgur.com/PueeHFe.jpg" class="d-block mx-lg-auto img-fluid shadow-lg" alt="" width="700" loading="lazy">
		</div>
		<div class="col-lg-6">
			<h1 class="display-5 fw-bold lh-1 mb-3">Personal Relationship Management</h1>
			<p class="lead my-5">Organize. Follow up. Build better relationships.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<a href="{% url 'register' %}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register</button></a>
				<a href="{% url 'login' %}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Log in</button></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}