{% extends 'contacts/dashboard/layout.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block page-title %}
	Dashboard
{% endblock %}

{% block breadcrumbs %}
	<li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block section %}
<section class="section dashboard">
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">What to put here</h5>
					<p>What should the dashboard have?</p>
				</div>
			</div>

		</div>
		<!-- End col -->
	</div>
	<!-- End row -->
</section>
{% endblock %}